.venv/
__pycache__/
*.aux
*.log
*.out
*.toc

# Ignore datasets and large ckpt files
**/MNIST/
**/*.ckpt
**/*.pb
**/*.meta
**/ckpt/
**/model_resnet/
**/data/TextCNN.zip
**/data/data/
**/data/*.pos
**/data/*.neg
